* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1472px;
  padding-inline: 1rem;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

input,
select,
option {
  font-family: $font-inter;
  &:focus {
    outline: none;
    border: 1px solid rgb(#00aeef, 52%);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ul,
li {
  list-style: none;
}

.w-hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $font-jakarta;
}

p,
span {
  font-family: $font-inter;
}

button {
  font-family: $font-jakarta;
  font-size: $fs-md;
  font-weight: $fw-bold;
  line-height: 150%;
}

h1 {
  font-size: $fs-5xl;
  font-weight: $fw-bold;
  line-height: 130%;
}

h2 {
  font-size: $fs-4xl;
  font-weight: $fw-bold;
  line-height: 130%;
}

h3 {
  font-size: $fs-3xl;
  font-weight: $fw-bold;
  line-height: 140%;
}

h4 {
  font-size: $fs-2xl;
  font-weight: $fw-semibold;
  line-height: 140%;
}

h5 {
  font-size: $fs-xl;
  font-weight: $fw-medium;
  line-height: 145%;
}

h6 {
  font-size: $fs-lg;
  font-weight: $fw-medium;
  line-height: 150%;
}

.h7 {
  font-size: $fs-md;
  font-weight: $fw-bold;
  line-height: 150%;
}

.text {
  color: $black;
  font-weight: $fw-regular;

  &__base {
    font-size: $fs-lg;
    line-height: 150%;
  }

  &__med {
    font-size: $fs-md;
    line-height: 155%;
  }

  &__small {
    font-size: $fs-sm;
    line-height: 155%;
  }
}

.cta__text {
  font-family: $font-jakarta;
  font-size: $fs-md;
  font-weight: $fw-bold;
  line-height: 150%;
}
