// colors used
$primary-color: #0066B2;
$secondary-color: #00AEEF;
$tertiary-color: #E2F7FF;
$background-color: #F4F4F4;
$linear-light: linear-gradient(96.18deg, #0066B2 0.44%, #00AEEF 100.05%);
$linear: linear-gradient(96.18deg, #0066b229 0.44%, #00aeef29 100.05%);
$white: #fff;
$black: #273240;
$red: #FF3030;
$dark-red: #DC3545;
$yellow: #F0AD4E;
$green: #28A745;
$gray: #D9D9D9;
$purple: #CC5DE8;
$irisBlue: #00CEA9;
$shadow : 0px 0px 16px 0px #0000001F;
$border-color: #27324029;

// fonts used
$font-inter: 'Inter', sans-serif;
$font-jakarta: 'Plus Jakarta Sans', sans-serif;