.info {
  &__label {
    color: rgb($black, 50%);
    display: inline-block;
    margin-bottom: 2px;
  }

  &__item {
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;

      & .info__text {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    padding: .375rem .625rem;
    border: 1px solid rgb($black, 20%);
    margin-bottom: .5rem;
    border-radius: .425rem;
  }

  &__edit,
  &__fund {
    width: 100%;
  }

  &__edit {
    margin-bottom: 1.25rem;
  }

  &__fund {
    font-size: $fs-md;
    line-height: 150%;
    white-space: nowrap;
    font-family: $font-jakarta;
    font-weight: $fw-bold;

    & img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(7500%) hue-rotate(206deg) brightness(119%) contrast(94%);
    }
  }
}

.home {
  width: 100%;
  height: 100%;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow: hidden scroll;
  @include custom-scrollbar;

  & .cards {
    width: 100%;

    & .card {
      background-color: $white;
    }
  }

  .panel {
    background-color: $background-color;

    &__cont {
      @include d-flex(column);
      background-color: $white;
      border-radius: 0.75rem;
      width: 100%;
      height: 100%;
      border: 0.5px solid rgba($border-color, 16%);
    }

    &__inner {
      @include d-flex(row, flex-start, space-between);
      margin-bottom: 1rem;
      border-bottom: 1px solid $border-color;
      padding: 1rem 1rem 13px 1rem;
    }

    &__prodpets {
      @include d-flex-center;
      gap: 0.75rem;
    }

    &__acticon {
      width: 1.5rem;

      img {
        display: block;
      }
    }

    &__btn {
      padding: 5px 11px;
      gap: 3px;

      &--img {
        width: 0.875rem;
        height: 0.688rem;
        display: block;
      }
    }

    &__item {
      @include d-flex(row, center, space-between);
      border: 0.5px solid $background-color;
      padding: 9px 0.75rem;
      gap: 1rem;
      margin-bottom: 0.75rem;
      border-radius: 0.5rem;
    }


    &__info {
      padding: 5px 19px;
      font-family: $font-jakarta;
      font-weight: $fw-bold;
    }

    &__more {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      margin-bottom: 1rem;
      height: 100%;
    }

    &__seemore {
      width: 100%;
      text-align: end;
      padding: 0.375rem 0.75rem;
      margin-top: auto;
    }

    // recent component
    &--recent {
      min-height: 376px;

      & .panel {
        &__sectile {
          color: rgba($black, 70%);
        }

        &__link {
          font-family: $font-jakarta;
          font-weight: 500;
          color: $primary-color;
        }
      }
    }

    // Referral component
    &--refer {
      width: 100%;
      height: 100%;

      & .panel {
        &__sectile {
          color: rgba($black, 70%);
          padding: 0 1rem 1rem;
        }
      }
    }
  }
}