.login {
  background-color: $background-color;

  &__cont {
    width: 100%;
    padding: 1rem;
    min-height: calc(100vh - 5rem);
    height: 100%;
    background: url("../images/form-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    @include d-flex-center;
  }

  &__inner {
    @include d-flex(column, center, flex-start);
    max-width: 35.875rem;
    width: 100%;
    background-color: $white;
    padding: 3.25rem;
    border-radius: 1rem;
    z-index: 5;
    position: relative;
  }

  &__logo {
    max-width: 6.875rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__logo {
    display: block;
  }

  &__heading {
    margin-bottom: 0.75rem;
  }

  &__desc {
    margin-bottom: 1.5rem;
    color: rgb($black, 80%);

    &--center {
      text-align: center;
    }
  }

  &__form {
    width: 100%;
  }

  &__email {
    margin-bottom: 1rem;
  }

  &__pswrd {
    margin-bottom: 0.75rem;
  }

  &__bottom {
    @include d-flex(row, flex-start, space-between);
    gap: 1rem;
    margin-bottom: 1.25rem;
  }

  &__rmber {
    @include d-flex(row, flex-start, flex-start);

    & .checkbox__mark {
      margin-right: 0.475rem;
    }
  }

  &__forget,
  &__link {
    font-family: $font-jakarta;
    color: $primary-color;
  }

  &__forget {
    font-weight: $fw-bold;
  }

  &__link {
    font-weight: $fw-medium;
  }

  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;

    &--frgt {
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  &__signup {
    color: rgb($black, 50%);
  }
}
